/* Removes default spacing*/
*{
    padding: 0;
    margin: 0;
}

body{
    overflow-y: hidden;
}

/* Removes blue text and underline from hyperlinks*/
a{
    text-decoration: none;
    color: inherit;
}

#navbar, #navbar.expand, #navbar > a, #content, #tabList > a, .navbarItem {
    transition: 0.3s cubic-bezier(.42, .94, .31, .99);
}

/* Shrinks and slightly fades when hovering logo and navbar items*/
h3:hover, .navbarItem:not(:first-child):active{
    transition: 0.2s;
    opacity: 0.75;
    transform: scale(0.95);
}

/* Shrinks and slightly fades further on logo only*/
h3:active{
    opacity: 0.5;
    transform: scale(0.9);
}

/* Div for the main contents of the page*/
#content{
    margin-left: 55px; padding: 50px; padding-bottom: 10px;
    height: 100vh;
    box-sizing: border-box;
    display: flex; flex-direction: column;
    transition: 0.3s cubic-bezier(.42,.94,.31,.99);
    overflow-y: auto;
}

#content > h2{
    margin-top: 20px; margin-bottom: 10px;
}

/* When the navbar is expanded, push content div to the right*/
#content.expand{
    margin-left: 280px;
}

/* Back and end convo btns */
#actionBtns{
    margin-top: 10px;
    gap: 10px;
}

#actionBtns, #actionBtns > a > button{
    display: flex; flex-direction: row;
    align-items: center; 
}

#goBackBtn{
    padding: 5px; padding-right: 10px;
}

#endConversationBtn{
    padding: 5px; padding-left: 10px; padding-right: 10px;
    background-color: red; color: white; border: transparent;
}

/* Contains messages, staff assigned and send messages */
#messageBox{
    height: 75vh;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    margin-top: 10px;
    display: flex; flex-direction: column;
}

#staffAssigned{
    width: 100%; height: 10%;
    background-color:  rgb(241, 241, 241);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#staffAssigned > p{
    font-size: 15px; font-weight: 550;
    padding-left: 20px;
}

#scrollableContent{
    overflow-y: scroll;
    height: 78%;
    margin-right: 5px; margin-top: 5px;
}

/* Only the container for the messages itself */
#messageContent{
    height: auto;
    display: flexbox; flex-direction: column;
    padding: 10px; padding-bottom: 20px;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
}

.incomingMsg, .outgoingMsg{
    background-color: white;
    padding: 10px; margin: 10px;
    border-radius: 10px;
    max-width: 40%; height: auto;
}

.outgoingMsg{
    justify-self: end;
    background-color: rgb(0, 34, 255);
    color: rgb(255, 255, 255);
}

.incomingMsg > p, .outgoingMsg > p{
  overflow-wrap: break-word; 
  word-wrap: break-word; 
}

.sentBy{
    font-size: 10px;
    margin-top: 5px;
}

#sendMessageContainer{
    border-radius: 10px; border: solid 0.5px rgb(194, 194, 194);
    background-color: white;
    min-height: 12%; max-height: 12%;
    display: flex; flex-direction: row;
    align-items: center;
    padding: 10px;
}

#textarea-wrapper{
    flex: 10; 
    height: 100%; width: 100%;
    overflow-y: auto; 
    display: flex;
    align-items: flex-start;
}

/* Custom scrollbar for texbox to send messages */
#textarea-wrapper::-webkit-scrollbar, #scrollableContent::-webkit-scrollbar {
    width: 6px; 
}

#textarea-wrapper::-webkit-scrollbar-track, #scrollableContent::-webkit-scrollbar-track {
    background: transparent;
}

#textarea-wrapper::-webkit-scrollbar-thumb, #scrollableContent::-webkit-scrollbar-thumb {
    background: #d1d1d1; 
    border-radius: 10px; 
}

#textarea-wrapper::-webkit-scrollbar-thumb:hover, #scrollableContent::-webkit-scrollbar-thumb:hover {
    background: #b5b5b5; 
}


/* Textbox for sending messages */
#textarea-wrapper > textarea{
    margin-top: 5px;
    border: transparent;
    width: 95%; min-height: 90%;
    resize: none;
    overflow-y: hidden;
}

textarea:focus{
    outline: none;
    border: none;
}

#sendBtn{
    display: flex;
    justify-content: center; align-items: center;
    padding: 10px;
    border: none;
}



